RewriteEngine On
RewriteBase /

RewriteCond %{HTTP:X-HTTPS} !1
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteRule ^object([^/]*)/?$ /local/include/detail.php?ID=$1 [L,QSA]

php_value default_charset utf-8
AddType 'text/html; charset=utf-8' .html .htm .shtml 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
